<section class="contact">
  <h2 class="contact__heading">Contact</h2>
  <ul class="contact__list">
    <li class="contact__item">
      <span class="contact__label">GitHub</span>
      <a class="contact__value" href="https://github.com/jerparucha" target="_blank" rel="noopener">jerparucha</a>
    </li>
    <li class="contact__item">
      <span class="contact__label">Email</span>
      <span class="contact__value">jerparucha&#64;gmail.com</span>
    </li>
    <li class="contact__item">
      <span class="contact__label">Phone</span>
      <span class="contact__value">Available on request</span>
    </li>
  </ul>
</section>
